<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>123425461135-55sdir4dbg286se43dshk9l5dqsoto3s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.123425461135-55sdir4dbg286se43dshk9l5dqsoto3s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>123425461135-4elkdi0tf7lsj1igl4jvull8ogtfiv9m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC9HpIBGSql5pHH0AlTdxaK8n_QVPs0WYw</string>
	<key>GCM_SENDER_ID</key>
	<string>123425461135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.egram</string>
	<key>PROJECT_ID</key>
	<string>egram-206e8</string>
	<key>STORAGE_BUCKET</key>
	<string>egram-206e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123425461135:ios:f3c80b8eb9d7c45904b1fa</string>
	<key>DATABASE_URL</key>
	<string>https://egram-206e8-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>